.tablita{border: 1px solid; color: black; background-color: white;}
.imagenes{width: 140;height: 140; border: 2px solid;}
.subTablita{border: 1px solid;}
.colorTD{background-color: yellow; border: 1px solid;}